{% if page_obj and page_obj.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link"
                       href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.previous_page_number }}">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                {% else %}
                    <a class="page-link"><i class="bi bi-arrow-left"></i></a>
                {% endif %}
            </li>
            {% for slot in page_slots %}
                {% if slot == '...' %}
                    <li class="page-item">
                        <a class="page-link page-jump-trigger"
                           href="#"
                           data-max-pages="{{ max_pages }}"
                           {% if querystring %}data-querystring="{{ querystring }}"{% endif %}>…</a>
                    </li>
                {% else %}
                    <li class="page-item {% if slot == cur %}active{% endif %}">
                        <a class="page-link"
                           href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ slot }}">{{ slot }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}
                    <a class="page-link"
                       href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.next_page_number }}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                {% else %}
                    <a class="page-link"><i class="bi bi-arrow-right"></i></a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  for (const link of document.querySelectorAll('.page-jump-trigger')) {
    link.onclick = event => {
      event.preventDefault();
      const max_pages = +link.dataset.maxPages;
      const querystring = link.dataset.querystring || '';
      const page = prompt(`Select page: (1 ~ ${max_pages})`);
      if (page && !isNaN(page) && page >= 1 && page <= max_pages) {
        let url = window.location.pathname + "?";
        if (querystring) url += querystring + "&";
        window.location = url + "page=" + page;
      }
    };
  }
});
</script>
